	<footer class="text-light bg-dark">
		<div class="row">
			<div class="col">
				<span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">©</span>
				2017, Codehesion Development Group. 
			</div>
		</div><!-- .row -->
	</footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/bootstrap/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>