<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">HomeGrower</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-navbar" aria-controls="primary-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="primary-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fa fa-2x fa-home"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-2x fa-user-circle-o"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Profile</a>
                </div>
            </li>
            <% if(!isLoggedIn){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/sign-in"><i class="fa fa-2x fa-sign-in"></i></a>
                </li>                
            <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="infoDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-2x fa-info-circle"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="infoDropdownMenuLink">
                        <a class="dropdown-item" href="/strains">Strains</a>
                    </div>
                </li>                
                <% if(user.isAdmin){ %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-2x fa-key"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="adminDropdownMenuLink">
                            <a class="dropdown-item" href="/grows">List All Grows</a>
                            <a class="dropdown-item" href="/strains/new">New Strain</a>
                        </div>
                    </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/sign-out"><i class="fa fa-2x fa-sign-out"></i></a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>